@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-kovex-bg text-kovex-text font-body antialiased overflow-hidden h-screen w-screen;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(233, 30, 140, 0.15);
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(233, 30, 140, 0.35);
}

/* Custom form checkbox override */
input[type="checkbox"] {
  color-scheme: dark;
}
